.image{
  height:40em; background-size:cover; width:auto;
  background-image:url('https://library.kissclipart.com/20181218/lgq/kissclipart-food-pantry-needs-clipart-putnam-county-emergency-caf271acf2f6b70d.png');
  background-position:50% 50%;
}