<div style="padding: 0px 15px 0px 15px">
    <sky-tile>
            <sky-tile-title>
                About
            </sky-tile-title>
            <sky-tile-summary>
               :)
            </sky-tile-summary>
            <sky-tile-content>
                <sky-page-summary>
                <sky-page-summary-content>
                  This is the arbitrary content section. You can display any kind of content to complement the
                  content on a page. We recommend that you display content to support the key tasks of users of
                  users who visit the page. We also recommend that you keep in mind the context of how users
                  will use the content and limit the amount of content to avoid overloading the summary.
                </sky-page-summary-content>
              </sky-page-summary>
            </sky-tile-content>
        </sky-tile>
      </div>