<app-nav></app-nav>
<div style="text-align: center">
  <h1> Pocket Pantry </h1>
</div>
<div class="image">
</div>
<br>
<br>
<app-home-page-tile>
</app-home-page-tile>
<div style="padding: 0px 15px 0px 15px">
  <div class="page-header">
  </div>
  <sky-tile>
      <sky-tile-title o>
          Who Are We!
      </sky-tile-title>
      <sky-tile-summary>
          :)
      </sky-tile-summary>
      <sky-tile-content>
          <sky-page-summary>
              <sky-page-summary-content>
                  <div class="sky-emphasized" style="margin-bottom: 5px;">
                    <h1 style="font-weight: bold" style="text-align: center">Team Donut</h1>
                      <label>Team Members</label>
                    </div>
                    <div>Anne Silbaugh</div>
                    <div>Danielle Pabon</div>
                    <div>Janell Tanner</div>
                    <div>Sara Altman</div>
                    <div>Tayshawn Hill</div>
              </sky-page-summary-content>
          </sky-page-summary>
      </sky-tile-content>
  </sky-tile>
</div>
