<div style="padding: 0px 15px 0px 15px">
    <sky-tile>
        <sky-tile-title>
            About
        </sky-tile-title>
        <sky-tile-summary>
            :)
        </sky-tile-summary>
        <sky-tile-content>
            <sky-page-summary>
                <sky-page-summary-content>
                    <p>
                        According to the USDA, Americans waste about 40 percent of the food in the country each year. 
                        On average, a family ends up throwing away around 20 pounds of food every month. Pocket Pantry is one app that works to ensure that your waste is reduced.
                        Using up the contents of your fridge often requires a little creativity, which is sometimes hard to come by in a busy world.
                        Tracking the groceries in your fridge, freezer, and pantry is simple with this web application.
                        Not only does it provide list-making capabilities. Choose a specific
                        storage area for each item and you will be able to look in each location for what is ready for
                        use.
                    </p>

                </sky-page-summary-content>
            </sky-page-summary>
        </sky-tile-content>
    </sky-tile>
</div>