<div style="padding: 0px 15px 0px 15px">
<sky-list
  [data]="items"
  [defaultView]="grid"
>
  <sky-list-toolbar>
    <sky-list-toolbar-item
      id="custom-item"
      location="left"
      index="0"
    >
      <ng-template>
        <button type="button" class="sky-btn sky-btn-primary"
        (click)="onAddButtonClicked()">
            <sky-icon icon="plus-circle"></sky-icon>
            Add
        </button>
      </ng-template>
    </sky-list-toolbar-item>
    <sky-list-toolbar-item
      id="scan-item"
      index="1"
    >
      <ng-template>
          <button type="button" class="sky-btn sky-btn-secondary"
          (click)="onScanButtonClicked()">
              <sky-icon icon="plus-circle"></sky-icon>
              Scan Item
          </button>
      </ng-template>
    </sky-list-toolbar-item>

    <sky-list-filter-button
    >
      <sky-filter-button
        [showButtonText]="true"
        (filterButtonClick)="onFilterButtonClicked()"
      >
      </sky-filter-button>
    </sky-list-filter-button>

    <sky-list-filter-summary
      (summaryItemClick)="onSummaryItemClick()"
    >
    </sky-list-filter-summary>

    <sky-list-toolbar-sort
      label="Item Name (A - Z)"
      field="column1"
      [descending]="false"
      type="string"
    >
    </sky-list-toolbar-sort>

    <sky-list-toolbar-sort
      label="Item Name (Z - A)"
      field="column1"
      [descending]="true"
      type="string"
    >
    </sky-list-toolbar-sort>
    <sky-list-toolbar-sort
      label="expirationDate Date (Earliest)"
      field="column3"
      [descending]="false"
      type="string"
    >
    </sky-list-toolbar-sort>
    <sky-list-toolbar-sort
      label="expirationDate Date (Latest)"
      field="column3"
      [descending]="true"
      type="string"
    >
    </sky-list-toolbar-sort>

    <!-- <sky-list-column-selector-action
      [gridView]="grid"
    >
    </sky-list-column-selector-action>

    <sky-list-secondary-actions>
      <sky-list-secondary-action>
        <button type="button">
          Option
        </button>
      </sky-list-secondary-action>
    </sky-list-secondary-actions> -->

    <sky-list-toolbar-view-actions>
      <div class="sky-switch-icon-group">
        <sky-radio
          icon="table"
          name="iconradiogrouptest"
          value="table"
          [(ngModel)]="iconGroupSelectedValue">
        </sky-radio>
        <sky-radio
          icon="list"
          name="iconradiogrouptest"
          value="list"
          [(ngModel)]="iconGroupSelectedValue">
        </sky-radio>
        <sky-radio
          icon="th-large"
          name="iconradiogrouptest"
          value="cards"
          [(ngModel)]="iconGroupSelectedValue">
        </sky-radio>
        <sky-radio
          icon="map-marker"
          name="iconradiogrouptest"
          value="map"
          [(ngModel)]="iconGroupSelectedValue">
        </sky-radio>
      </div>
    </sky-list-toolbar-view-actions>

  </sky-list-toolbar>

  <sky-list-view-grid fit="scroll" #grid>
    <sky-grid-column
      field="name"
      heading="Food Item"
      [isSortable]="true"
    >
    </sky-grid-column>
    <sky-grid-column
      field="purchaseDate"
      heading="Date Purchased"
      [isSortable]="true"
    >
    </sky-grid-column>
    <sky-grid-column
      field="expirationDate"
      heading="Expiration Date "
      [isSortable]="true"
    >
    </sky-grid-column>
    <sky-grid-column
      field="foodType"
      heading="Food Type"
      [isSortable]="true"
    >
    </sky-grid-column>
    <sky-grid-column
      field="servings"
      heading="Servings Left"
      [isSortable]="true"
    >
    </sky-grid-column>
    <sky-grid-column
      field="column6"
      [template]="deleteButton"
    >
    </sky-grid-column>
  </sky-list-view-grid>
  <ng-template let-row="row" #deleteButton>
      <button type="button" class="sky-btn sky-btn-link" (click)="onDeleteButtonClicked(row.column1)">
          <sky-icon icon="minus-circle"></sky-icon>
        Delete Item
      </button>
  </ng-template>
  <!-- <sky-list-paging pageSize="10"></sky-list-paging> -->
</sky-list>
</div>
